body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

p {
  word-wrap: break-word;
  color: #ffffff;
  font-size: larger;
}

img {
  width: 250px;
  height: 250px;
  display: inline-block;
}
