body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

p {
  word-wrap: break-word;
  color: #ffffff;
  font-size: xx-large;
}

img {
  width: 425px;
  height: 500px;
  display: inline-block;
}
